<h1>About</h1>

<p>This Rails app serves one purpose, and one purpose only: to quickly and cleanly illustrate that I understand how to create a secure app that protects users login information and only allows users to view information that they are authorized to see. The app was not intended to be particularly attractive. If you want a better idea of my CSS skills, please see my portfolio at <a href="http://markdking.me">http://markdking.me</a> or some of my other web apps in <a href="https://github.com/gute73">GitHub</a>.</p>

<p>The goal here is to simulate an online environment where users can have free or paid access. Those with free access are not required to log in, but can only view posts and are not allowed to make posts of their own. In addition, the names of the authors of indivdual posts are hidden from users with free access. These features become unlocked for users with paid accounts.  Please note that there is no index page for users, no option to edit or delete accounts, no admin access, no mechanism for paying for the account on the sign up page, etc. The focus here is on the implementation of password security and the management of permissions.</p>
