<h1>Post feed</h1>
<br><br>
<%= link_to "Create post", new_post_path %>
<br><br>
<ul class='post-feed'>
	<% @posts.each do |post| %>
		<li>
			<span id='post-name'>
				<% if logged_in? %>
					<%= post.user.name %><br>
				<% else %>
					User's name hidden.<br>
				<% end %>
			</span>
			<span id='post-content'><%= post.content %></span><br>
			<span id='post-ago'>Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
			</li>
	<% end %>
</ul>